.DS_Store
**.gcloudignore
**.env
**.env.yaml
/**/.env*
/**/**/.env
/**/**/dist
/**/**/.vscode
/**/**/coverage
/**/**/node_modules
/**/**/npm-debug.log*
/**/**/yarn-debug.log*
/**/**/yarn-error.log*
/packages/*/lib
/**/.next

/packages/db/src/migration
/**/ormconfig.json

!/functions/render-chart/lib
